.sideBar {
  display: flex;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-shadow: 0 -1px 24px rgb(0 0 0 / 40%);
}
